---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Home | CSE 130 Notes'>
  <h1>CSE 130 Notes</h1>
  <h2><a href='./notes/'>Notes</a></h2>
</Layout>

<style>
  :root {
    --violet-1: #02001f;
    --violet-2: #03002e;
    --violet-5: #09004a;
    --violet-10: #100069;
    --violet-20: #1f00a4;
    --violet-30: #3728c2;
    --violet-40: #5047da;
    --violet-50: #6a62f4;
    --violet-60: #8681ff;
    --violet-70: #a5a1ff;
    --violet-80: #c3c0ff;
    --violet-90: #e3dfff;
    --violet-95: #f2efff;
    --violet-98: #fcf8ff;
    --violet-99: #fffbff;
    --seafoam-1: #000502;
    --seafoam-2: #000a05;
    --seafoam-5: #00150c;
    --seafoam-10: #002115;
    --seafoam-20: #043827;
    --seafoam-30: #214f3d;
    --seafoam-40: #3a6754;
    --seafoam-50: #52806c;
    --seafoam-60: #6c9b85;
    --seafoam-70: #86b59e;
    --seafoam-80: #a0d1b9;
    --seafoam-90: #bceed5;
    --seafoam-95: #cafce3;
    --seafoam-98: #e7fff1;
    --seafoam-99: #f4fff7;
    --gray-1: #020403;
    --gray-2: #050807;
    --gray-5: #0e120f;
    --gray-10: #191c1a;
    --gray-20: #2e312d;
    --gray-30: #454843;
    --gray-40: #5e5f59;
    --gray-50: #777771;
    --gray-60: #93918a;
    --gray-70: #aeaba3;
    --gray-80: #cbc6bd;
    --gray-90: #e8e2d8;
    --gray-95: #f7f0e6;
    --gray-98: #fff8f3;
    --gray-99: #fffbff;
    background-color: var(--gray-1);
    color: var(--gray-99);
  }

  body {
    font-family:
      "Atkinson Hyperlegible",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 16px;
  }
</style>
